.about-container {
    width: 100%;
    background:linear-gradient(to right, #F5F5DC , #800000);
    margin: 0 auto;
    padding-top: 20px !important;
    padding-bottom: 40px !important;

    .about-display {
        margin: 0 auto;
        width: 90%; 

        img {
            padding-top: 25px;
            max-width:140px ;
            border-radius: 50%;
            margin: 0 auto 1.5em;
        }

        .about-section {
            color: #fff;

            h3 {
                font: normal normal 1000 1.563rem/1.48em "Heebo", sans-serif;
                font-size: 2rem;
                margin-bottom: 0.88em;
                text-transform: uppercase;
            }

            p {
                font: normal normal normal .938rem/1.48em "Heebo", sans-serif;
                margin-bottom: 1.1em;
            }

            .my-resume {
                width: min(30%, 240px);
                background: beige;
                margin: 0 auto;
                border-radius: 1rem;

                a {
                    font: normal normal 500 .625rem/1.9em "Heebo", sans-serif;
                    color: maroon;
                    margin: 0 auto;
                    text-decoration: none;
                    text-transform: capitalize;
                }
            }
        }
    }
}

@media (min-width: 900px) {
    .about-container {
        .about-display {
            width: 41%;

            .about-section {
                h4 {
                    font: normal normal 900 2.188rem/1.49em "Heebo", sans-serif;
                }

                p {
                    font: normal normal normal 1.25rem/1.45em "Heebo", sans-serif;
                }

                .my-resume {
                    width: min(48%, 260px);

                    a {
                        font: normal normal bold 1.25rem/1.9em "Heebo", sans-serif;
                        letter-spacing: 0.3px;
                    }
                }
            }
        }
    }
}