.footer-container {
    width: 100%;
    height: 100%;
    background: beige 0% 0% no-repeat padding-box;
    
    .social-container {
        width: 80%;
        padding: 3.5em 0;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
        .content-box {
            max-width: 100px;
            display: flex;
            flex-direction: column;

            a{
                column-count: 3;
                margin-left: 35px;
                margin-top: 15px;
            }

            img {
                max-width: 45px;
                max-height: 45px;
                margin: 0 auto 1.3em;
            }
            
            p {
                width: 100%;
                margin: 0 auto;
                font: normal normal normal .938rem/1.47em "Heebo", sans-serif;
                color: #2C2C2C;
                word-wrap: break-word;
            }

            .headlineFont {
                font: normal normal normal .938rem/1.13em "Inter", sans-serif;
            }
        }
    }
}

.copyright-section {
    width: 100%;
    background: maroon 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.375em solid beige;

    p {
        color: #fff;
        margin: auto 1.5rem;
        padding: .5em;
    }
}

@media (max-width: 416px) {
    .footer-container {
        .social-container {
            .content-box {
                justify-content: center;

                img {
                    max-width: 40px;
                }

                p {
                    font: normal normal normal .875rem/1.5em "Heebo", sans-serif;
                }

                .headlineFont {
                    font: normal normal normal .875rem/1.21em "Inter", sans-serif;
                }
            }
        }
    }
}