
#upper-container {
    width: 100vw;
    height: 85vh;
    background-image: url(blue-envelope.png);
    background-repeat: no-repeat no-repeat;
    background-position: center;
    background-size: cover;
    direction: rtl;
    text-align: center;
    display: table-cell;
    vertical-align: middle;

    h1 {
        margin-top: -15vh;
        font: normal normal bold 4.5rem Assistant;;
        color: #D3E10E;
    }

    h4 {
        font: normal normal normal 1.25rem Assistant;;
        color: #F9F9F9;
    }
}